@model IEnumerable<BlogSystem.Web.Areas.Administration.ViewModels.Categories.CategoryViewModel>

@{
    ViewBag.Title = "All Categories";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var category in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => category.Id)
            </td>
            <td>
                @Html.DisplayFor(model => category.Name)
            </td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("Edit", "Categories", new {area = "Administration", id = category.Id})" class="btn btn-warning">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Edit
                    </a>
                    <a href="@Url.Action("Delete", "Categories", new {area = "Administration", id = category.Id})" class="btn btn-danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
    }
</table>