@model BlogSystem.Web.ViewModels.Home.IndexPageViewModel

@{
    ViewBag.Title = "Home";
}

@if (Model.Posts.Any())
{
    foreach (var post in Model.Posts)
    {
        <article class="post-container">
            <header class="post-header">
                <h2>
                    <a href="@post.Url" title="@post.Title" class="post-title">@post.Title</a>
                </h2>
                <hr />
                <ul class="post-meta">
                    <li>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        @Html.Timeago(post.CreatedOn)
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.DisplayFor(model => post.Author)
                    </li>                
                    <li>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        @Html.DisplayFor(model => post.CommentsCount) comments
                    </li>
                </ul>
            </header>

            <div class="post-content">
                @Html.Truncate(post.Content)
            </div>

            <div class="post-read-more">
                <a href="@post.Url" class="btn btn-default" title="@post.Title">Read more!</a>
            </div>
        </article>
    }
}
else
{
    <article class="post-container">
        <header class="post-header">
            <h2 class="post-title">Sorry, nothing here...</h2>
        </header>
    </article>
}

@Html.Partial("_Pagination")