@model BlogSystem.Web.InputModels.PostComment.EditPostCommentInputModel

@{
    ViewBag.Title = "Edit comment";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="blog-gray-info pull-left blog-page-header">@ViewBag.Title</h2>
    </div>
</div>

@using (Html.BeginForm("Edit", "Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.BlogPostId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CreatedOn)
        
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, string.Empty, new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-success"/>

                @if (Request.UrlReferrer == null)
                {
                    <a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="btn btn-danger">
                        <span>Cancel</span>
                    </a>
                }
                else
                {
                    <a href="@Request.UrlReferrer" class="btn btn-danger">
                        <span>Cancel</span>
                    </a>
                }
            </div>
        </div>
    </div>
}