@model BlogSystem.Web.Areas.Administration.ViewModels.Comment.IndexCommentsPageViewModel

@{
    ViewBag.Title = "All Comments";
}

    <div class="row">
        <table class="table table-responsive table-hover">
            <tr>
                <th>
                    Post Title
                </th>
                <th>
                    User
                </th>
                <th>
                    CreatedOn
                </th>
                <th>
                    ModifiedOn
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.RouteLink(item.PostTitle, "Post", new { Area = string.Empty, Id = item.PostId }, new {})
                    </td>
                    <td>  
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Comments", new { area = "Administration", id = item.Id })" class="btn btn-warning btn-sm center-block">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Edit</span>
                        </a>
                        <a href="@Url.Action("Delete", "Comments", new { area = "Administration", id = item.Id })" class="btn btn-danger btn-sm center-block ">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </table>   
    </div>


@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="~/Administration/Comments/?page=@Model.PreviousPage">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="~/Administration/Comments?page=@i">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/Administration/Comments/?page=@i">@i</a>
                    </li>
                }
            }

            <li>
                <a href="~/Administration/PostComments?page=@Model.NextPage">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--End Pagination-->
}