@model BlogSystem.Web.Areas.Administration.ViewModels.BlogPost.IndexPostsPageViewModel

@{
    ViewBag.Title = "Posts";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
      
        <p>
            <a href="@Url.Action("Create", "BlogPosts", new { area = "Administration" })" class="btn btn-success">
                <span class="fa fa-plus" aria-hidden="true"></span>
                Create New Post
            </a>
        </p>
        
        @if (Model.Posts.Any())
        {
            <table class="table table-responsive table-hover table-striped">
                <tr>
                    <th class="col-md-2">Email</th>
                    <th class="col-md-3">Title</th>
                    <th class="col-md-1">IsDeleted</th>
                    <th class="col-md-1">DeletedOn</th>
                    <th class="col-md-2">CreatedOn</th>
                    <th class="col-md-2">ModifiedOn</th>
                    <th class="col-md-1">Actions</th>
                </tr>

                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Author)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                        <td>@Html.DisplayFor(modelItem => item.DeletedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedOn)</td>
                        <td>
                            <a href="@Url.Action("Details", "BlogPosts", new {area = "Administration", id = item.Id})" class="btn btn-info btn-sm center-block">
                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                                Details
                            </a>
                            <a href="@Url.Action("Edit", "BlogPosts", new {area = "Administration", id = item.Id})" class="btn btn-warning btn-sm center-block">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit
                            </a>
                            <a href="@Url.Action("Delete", "BlogPosts", new {area = "Administration", id = item.Id})" class="btn btn-danger btn-sm center-block ">
                                <i class="glyphicon glyphicon-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="col-md-12">
                <h2>No posts available.</h2>
            </div>
        }
    </div>
</div>

@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="~/Administration/BlogPosts/?page=@Model.PreviousPage">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="/Administration/BlogPosts/?page=@i">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Administration/BlogPosts/?page=@i">@i</a>
                    </li>
                }
            }

            <li>
                <a href="~/Administration/BlogPosts/?page=@Model.NextPage">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--End Pagination-->
}