@model BlogSystem.Web.Areas.Administration.ViewModels.Posts.IndexPostsPageViewModel

@{
    ViewBag.Title = "All Posts";
}

<header>
    <h2 class="float-left">@ViewBag.Title</h2>

    <a href="@Url.Action("Create", "Posts", new {area = "Administration"})" class="btn btn-success float-right">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Create New Post
    </a>
</header>

@if (Model.Posts.Any())
{
    <table class="table table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created On</th>
                <th>Modified On</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
                {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.Title</td>
                    <td>@Html.DisplayFor(m => post.CreatedOn)</td>
                    <td>@Html.DisplayFor(m => post.ModifiedOn)</td>
                    <td>@post.Author</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("Edit", "Posts", new {area = "Administration", id = post.Id})" class="btn btn-warning">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </a>
                            <a href="@Url.Action("Delete", "Posts", new {area = "Administration", id = post.Id})" class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No posts available.</h2>
}

@Html.Partial("_Pagination")