@model BlogSystem.Web.ViewModels.Home.IndexPageViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2 class="blog-gray-info pull-left">@ViewBag.Title</h2>
    </div>
</div>

<hr/>

<div class="row">
    @if (Model.Posts.Any())
    {
        foreach (var post in Model.Posts)
        {
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="blog-word-wrap">
                                <h3>
                                    @Html.ActionLink(post.Title, "Post", "Blog", new { id = post.Id}, new {@class = "blog-post-title"})
                                </h3>
                            </div>

                            <hr/>

                            <div class="blog-post-home-page-info">
                                <ul class="list-unstyled list-inline blog-post-tags">
                                    <li>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        @post.CreatedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        @post.Author
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Post", "Blog", new {area = string.Empty, id = post.Id})@("#comments")">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            @(post.CommentsCount) comments
                                        </a>

                                    </li>
                                </ul>

                                <hr/>

                            </div>
                        </div>
                        <div class="col-md-12">
                            @Html.Raw(post.Content)
                        </div>
                        <div class="blog-button-short-content">
                            <div class="col-md-12">
                                <a href="@Url.Action("Post", "Blog", new {id = post.Id})" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <h2 class="blog-gray-info">No posts available.</h2>
            </div>
        }
    </div>


@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="/?page=@Model.PreviousPage">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="/?page=@i">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/?page=@i">@i</a>
                    </li>
                }
            }
            
            <li>
                <a href="/?page=@Model.NextPage">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--End Pagination-->
}