@model BlogSystem.Web.ViewModels.Home.IndexPageViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (Model.Posts.Any())
{
    foreach (var post in Model.Posts)
    {
        <article>
            <div class="post-slider">
                <div class="post-heading">
                    <h3>
                        @Html.RouteLink(post.Title, "Post", new { id = post.Id })
                    </h3>
                </div>
            </div>
            <p>
                @{
                    var content = Html.TruncateHtmlContent(post.Content);
                }
                @Html.Raw(content)
            </p>
            <div class="bottom-article">
                <ul class="meta-post">
                    <li>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        @Html.DisplayFor(item => post.CreatedOn)
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.DisplayFor(item => post.Author)
                    </li>
                    <li>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <a href="/Posts/@post.Id#comments">
                            @Html.DisplayFor(item => post.CommentsCount) comments
                        </a>
                    </li>
                </ul>
                <a href="@Url.Action("Index", "Post", new {id = post.Id})" class="pull-right">
                    Continue reading <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
        </article>
    }
}
else
{
    <h2>No posts available.</h2>
}

@if (Model.PagesCount > 0)
{
    <div id="pagination">
        <span class="all">Page @Model.CurrentPage of @Model.PagesCount</span>

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.CurrentPage)
            {
                <span class="current">@i</span>
            }
            else
            {
                <a href="/?page=@i" class="inactive">@i</a>
            }
        }
    </div>
}