@model BlogSystem.Web.Areas.Administration.ViewModels.Posts.PostViewModel

@{
    ViewBag.Title = "Edit Post";
}

<section class="post-container">
    <div class="post-content">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AuthorId)

                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CreatedOn)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "col-md-2" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, new { @class = "col-md-2" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Content, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Save</button>

                        @Html.ActionLink("Cancel", "Index", new { area = "Administration" }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}