@model BlogSystem.Web.Areas.Administration.ViewModels.Posts.IndexPostsPageViewModel

@{
    ViewBag.Title = "All Posts";
}

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="@Url.Action("Create", "Posts", new { area = "Administration" })" class="btn btn-success">
                <span class="fa fa-plus" aria-hidden="true"></span>
                Create New Post
            </a>
        </p>

        @if (Model.Posts.Any())
        {
            <table class="table table-responsive table-hover">
                <tr>
                    <th>User</th>
                    <th>Title</th>
                    <th>Created On</th>
                    <th>Modified On</th>
                    <th>Actions</th>
                </tr>

                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => post.AuthorUserName)</td>
                        <td>@Html.DisplayFor(m => post.Title)</td>
                        <td>@Html.DisplayFor(m => post.CreatedOn)</td>
                        <td>@Html.DisplayFor(m => post.ModifiedOn)</td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Edit", "Posts", new {area = "Administration", id = post.Id})" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    Edit
                                </a>
                                <a href="@Url.Action("Delete", "Posts", new {area = "Administration", id = post.Id})" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="col-md-12">
                <h2>No posts available.</h2>
            </div>
        }
    </div>
</div>

@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="~/Administration/Posts/?page=@Model.PreviousPage">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="/Administration/Posts/?page=@i">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Administration/Posts/?page=@i">@i</a>
                    </li>
                }
            }

            <li>
                <a href="~/Administration/Posts/?page=@Model.NextPage">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--End Pagination-->
}