<footer>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            &copy; 2012 - @DateTime.Now.Year <strong>@ViewBag.Settings.Get["Author"]</strong>.
                            All right reserved.
                        </p>
                        <p>
                            <a href="https://github.com/csyntax/BlogSystem" target="_blank">
                                <i class="fa fa-github"></i>
                                Open Source Project <i class="fa fa-smile-o"></i>
                            </a> version. @ViewBag.Version
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li>
                            <a href="@ViewBag.Settings.Get["Facebook"]" data-placement="top" title="Facebook" rel="me">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="@ViewBag.Settings.Get["Twitter"]" data-placement="top" title="Twitter" rel="me">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="@ViewBag.Settings.Get["LinkedIn"]" data-placement="top" title="LinkedIn" rel="me">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="@ViewBag.Settings.Get["GitHub"]" data-placement="top" title="GitHub" rel="me">
                                <span class="fa fa-github"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>