<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                @*<p>Your IP Adress: @ViewBag.IpAddress</p>*@
                <p class="copyright">
                    <i class="fa fa-copyright" aria-hidden="true"></i> @DateTime.Now.Year
                    <strong>@ViewBag.Settings["Author"]</strong>.
                </p>
                <!--<p>
                    <a href="https://github.com/csyntax/BlogSystem" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        Open Source Blogging System
                    </a> version. @ViewBag.Version <span class="label label-default">Beta</span>
                </p>-->
            </div>
 
            <div class="col-lg-4 col-md-4 col-sm-12">
                <ul class="social">
                    <li>
                        <a href="@ViewBag.Settings["Facebook"]" title="Facebook" rel="me">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@ViewBag.Settings["Twitter"]" title="Twitter" rel="me">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@ViewBag.Settings["LinkedIn"]" title="LinkedIn" rel="me">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@ViewBag.Settings["GitHub"]" title="GitHub" rel="me">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>