@using BlogSystem.Web.Infrastructure.Extensions

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days" />
        <meta name="author" content="Ivan Ivanov" />
        <meta name="description" content="Ivan Ivanov - Official Website & Blog" />

        <title>@ViewBag.Title - Official Website & Blog</title>

        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="wrapper">
            @Html.Partial("_Header")

            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            @RenderBody()
                        </div>
                        <div class="col-lg-4">
                            <aside class="right-sidebar">
                                <div class="widget">
                                    <h5 class="widgetheading">Account</h5>
                                    @Html.Partial("_LoginPartial")
                                </div>

                                @{
                                    Html.RenderAction("Index", "Sidebar");
                                }
                            </aside>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_Footer")
        </div>

        <a href="#" class="scrollup">
            <span class="fa fa-angle-up active"></span>
        </a>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)

        <script>
            $(document).ready(function () {
                $(".social-network li a").tooltip();

                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $(".scrollup").fadeIn();
                    } else {
                        $(".scrollup").fadeOut();
                    }
                });

                $(".scrollup").click(function () {
                    $("html, body").animate({
                         scrollTop: 0
                    }, 1000);

                    return false;
                });
            });
        </script>
    </body>
</html>