@model BlogSystem.Data.Models.Page

@{
    ViewBag.Title = "Delete Page";
}

<h2>@ViewBag.Title</h2>
<h3 class="text-danger">Are you sure you want to delete this page?</h3>

        <div class="panel-group">
            <div class="panel panel-primary">
                <div data-toggle="collapse" data-target="#postDetails" class="panel-heading">
                    <div class="panel-title">
                        <i class="glyphicon glyphicon-collapse-down"></i>
                        Page Details
                    </div>
                </div>
                <div id="postDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <strong>Post Id: </strong>
                                @Html.DisplayFor(model => model.Id)
                            </li>
                            <li>
                                <strong>Title: </strong>
                                @Html.DisplayFor(model => model.Title)
                            </li>
                            <li>
                                <strong>Created On: </strong>
                                @Html.DisplayFor(model => model.CreatedOn)
                            </li>
                            <li>
                                <strong>Modified On: </strong>
                                @Html.DisplayFor(model => model.ModifiedOn)
                            </li>
                            <li>
                                <strong>Pemalink:</strong>
                                @Html.DisplayFor(model => model.Permalink)
                            </li>
                        </ul>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div data-toggle="collapse" data-target="#postContent" class="panel-heading">
                                    <div class="panel-title">
                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                        <strong>Content</strong>
                                    </div>
                                </div>
                                <div id="postContent" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.DisplayFor(model => model.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
@using (Html.BeginForm("Delete", "Pages", FormMethod.Post))
{
    @Html.AntiForgeryToken()

   <button type="submit" class="btn btn-danger">Delete</button>

    @Html.ActionLink("Cancel", "Index", "Pages", new { area = "Administration" }, new { @class = "btn btn-danger" })
}