@model BlogSystem.Web.Areas.Administration.ViewModels.Pages.IndexPagesViewModel

@{
    ViewBag.Title = "All Pages";
}

<header>
    <h1 class="float-left">@ViewBag.Title</h1>

    <a href="@Url.Action("Create", "Pages", new { area = "Administration" })" class="btn btn-success float-right">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Create New Page
    </a>
</header>

@if (Model.Pages.Any())
{
    <table class="table table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created On</th>
                <th>Modified On</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model.Pages)
            {
                <tr>
                    <td>@page.Id</td>
                    <td>@page.Title</td>
                    <td>@Html.DisplayFor(m => page.CreatedOn)</td>
                    <td>@Html.DisplayFor(m => page.ModifiedOn)</td>
                    <td>@page.Author</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("Edit", "Pages", new { area = "Administration", id = page.Id })" class="btn btn-warning">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </a>
                            <a href="@Url.Action("Delete", "Pages", new { area = "Administration", id = page.Id })" class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No pages available.</h2>
}