@model IEnumerable<BlogSystem.Data.Models.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Key })
            </td>
        </tr>
    }
</table>