@using System.Linq
@using BlogSystem.Common
@using BlogSystem.Web.InputModels.PostComment
@using Microsoft.AspNet.Identity

@model BlogSystem.Web.ViewModels.Blog.BlogPostViewModel

@{
    ViewBag.Title = Model.Title;
}


<div class="row">
    <div class="col-md-12">
        <h2 class="pull-left blog-gray-info blog-word-wrap">@ViewBag.Title</h2>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled list-inline blog-info">
            <li>
                <span class="glyphicon glyphicon-calendar"></span>
                @Model.CreatedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")
            </li>
            <li>
                <span class="glyphicon glyphicon-pencil"></span>
                @Model.Author
            </li>
        </ul>
        <hr/>
    </div>
    <div class="col-md-12">
        <div class="blog-word-wrap">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

<p>
    @if (User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <hr/>

        <a href="@Url.Action("Details", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-info">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <span>Details</span>
        </a>
        <a href="@Url.Action("Edit", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span>
            <span>Edit Post</span>
        </a>
        <a href="@Url.Action("Delete", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            <span>Delete Post</span>
        </a>
    }
</p>

<hr/>

<div class="col-md-12">
    <h3 class="text-center">Comments</h3>

    <hr/>
    @if (Model.Comments.Any())
    {
        foreach (var comment in Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-body blog-word-wrap">
                    <div class="media">
                        <div class="media-heading">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>@comment.User</span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <span>@comment.CommentedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")</span>
                                </li>
                            </ul>

                            <hr/>
                        </div>
                        <div>
                            @Html.Raw(comment.Content)
                        </div>
                    </div>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <hr/>

                        if (User.Identity.GetUserId() == comment.UserId)
                        {
                            <a href="@Url.Action("Edit", "Comments", new { id = comment.Id })" class="btn btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                                <span>Edit Comment</span>
                            </a>
                        }

                            if (User.IsInRole(GlobalConstants.AdminRoleName))
                            {
                                <a href="@Url.Action("Edit", "PostComments", new {area = "Administration", id = comment.Id})" class="btn btn-warning btn-sm">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span>Edit Comment as Admin</span>
                                </a>
                                <a href="@Url.Action("Details", "PostComments", new {area = "Administration", id = comment.Id})" class="btn btn-info btn-sm">
                                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                                    <span>Comment Details</span>
                                </a>
                                <a href="@Url.Action("Details", "ApplicationUsers", new {area = "Administration", id = comment.UserId})" class="btn btn-info btn-sm">
                                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                                    <span>User Details</span>
                                </a>
                                <a href="@Url.Action("Delete", "PostComments", new {area = "Administration", id = comment.Id})" class="btn btn-danger btn-sm">
                                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                                    <span>Delete Comment</span>
                                </a>
                            }
                        }

                    </div>
                </div>
        }
    }
    else
    {
        <h4>No available comments</h4>
    }

</div>
    <div class="col-md-12">
        @Html.Partial("_CreateComment", new CreateCommentInputModel
        {
            BlogPostId = Model.Id
        })
        <hr/>
    </div>



