@using Microsoft.AspNet.Identity
@using BlogSystem.Common
@using BlogSystem.Web.InputModels.Comments

@model BlogSystem.Web.ViewModels.Blog.BlogPostViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h2 class="pull-left blog-gray-info blog-word-wrap">
            @Html.DisplayFor(model => model.Title)
        </h2>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled list-inline blog-info">
            <li>
                <span class="glyphicon glyphicon-calendar"></span>
                @Html.DisplayFor(model => model.CreatedOn)
            </li>
            <li>
                <span class="glyphicon glyphicon-pencil"></span>
                @Html.DisplayFor(model => model.Author)
            </li>
        </ul>
        <hr/>
    </div>
    <div class="col-md-12">
        <div class="blog-word-wrap">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

<p>
    @if (User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <hr/>

        <a href="@Url.Action("Details", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-info">
            <span class="glyphicon glyphicon-menu-hamburger"></span>Details
        </a>
        <a href="@Url.Action("Edit", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <a href="@Url.Action("Delete", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
    }
</p>

<hr/>

<div class="col-md-12">
    <h3 class="text-center">Comments</h3>

    <hr/>
    @if (Model.Comments.Any())
    {
        foreach (var comment in Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-body blog-word-wrap">
                    <div class="media">
                        <div class="media-heading">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <span class="glyphicon glyphicon-user"></span> @comment.User
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    @comment.CommentedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")
                                </li>
                            </ul>

                            <hr/>
                        </div>
                        <div>
                            @Html.Raw(comment.Content)
                        </div>
                    </div>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <hr/>

                        if (User.Identity.GetUserId() == comment.UserId)
                        {
                            <a href="@Url.Action("Edit", "Comments", new { id = comment.Id })" class="btn btn-default">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                        }

                        if (User.IsInRole(GlobalConstants.AdminRoleName))
                        {
                            <a href="@Url.Action("Edit", "PostComments", new { area = "Administration", id = comment.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-edit"></span> Edit as Admin
                            </a>

                            <a href="@Url.Action("Details", "PostComments", new { area = "Administration", id = comment.Id })" class="btn btn-info">
                                <span class="glyphicon glyphicon-menu-hamburger"></span> Details
                            </a>

                            <a href="@Url.Action("Details", "ApplicationUsers", new { area = "Administration", id = comment.UserId})" class="btn btn-info">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                                <span>User Details</span>
                            </a>

                            <a href="@Url.Action("Delete", "PostComments", new { area = "Administration", id = comment.Id })" class="btn btn-danger">
                                <span class="glyphicon glyphicon-menu-hamburger"></span> Delete
                            </a>
                        }
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h4>No available comments</h4>
    }
</div>

<div class="col-md-12">
    @Html.Partial(string.Format(GlobalConstants.CommentsPartialViewsFolder, "_CreateComment"), new CreateCommentInputModel
    {
        BlogPostId = Model.Id
    })
    <hr/>
</div>