<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>@ViewBag.Title - Blog System</title>

        @Styles.Render("~/Content/css")
        
        <link rel="stylesheet" href="~/Content/font-awesome.min.css" />

        <link rel="stylesheet" href="~/Content/style.css" />
        <link rel="stylesheet" href="~/Content/default.css" />
    </head>
    <body>
        <div id="wrapper">
            @Html.Partial("_Header")

            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            @RenderBody()
                        </div>
                        <div class="col-lg-4">
                            <aside class="right-sidebar">
                                @{
                                    Html.RenderAction("Index", "Sidebar");
                                }
                            </aside>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_Footer")
        </div>

        <a href="#" class="scrollup">
            <span class="fa fa-angle-up active"></span>
        </a>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)


        <!--<script src="~/js/jquery.easing.1.3.js"></script>-->
        <!--<script src="~/js/animate.js"></script>-->
        <script src="~/js/custom.js"></script>
    </body>
</html>