<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>@ViewBag.Title - Blog System</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="~/Content/jcarousel.css" rel="stylesheet" />
        <link href="~/Content/flexslider.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />

        <!-- Theme skin -->
        <link href="~/Content/default.css" rel="stylesheet" />
    </head>
<body>
    <div id="wrapper">

        @Html.Partial("_Header")

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    @{
                        Html.RenderAction("Index", "Sidebar");
                    }
                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer>
            <hr />
            <p>&copy @DateTime.Now.Year Ivan Ivanov.</p>
        </footer>
    </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
</body>
</html>