@using System.Linq
@model BlogSystem.Data.Models.ApplicationUser

@{
    ViewBag.Title = "Details for application user";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="blog-gray-info pull-left blog-page-header">@ViewBag.Title</h2>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-word-wrap">
                <h2 class="blog-gray-info blog-post-title">@Model.UserName</h2>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div data-toggle="collapse" data-target="#postDetails" class="panel-heading blog-panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-collapse-down"></i>
                            <strong>User Details</strong>
                        </div>
                    </div>
                    <div id="postDetails" class="panel-collapse in">
                        <div class="panel-body blog-word-wrap">
                            <ul class="list-unstyled">
                                <li class="col-md-4 col-sm-3">
                                    <span class="profile-label"><strong>User Id: </strong></span>
                                    @Html.DisplayFor(model => model.Id)
                                </li>
                                <li class="col-md-3 col-sm-3">
                                    <span class="profile-label"><strong>Email: </strong></span>
                                    @Html.DisplayFor(model => model.Email)
                                </li>
                                <li class="col-md-2 col-sm-3">
                                    <span class="profile-label"><strong>UserName: </strong></span>
                                    @Html.DisplayFor(model => model.UserName)
                                </li>
                                <li class="col-md-3 col-sm-3">
                                    <span class="profile-label"><strong>Password Hash: </strong></span>
                                    @Html.DisplayFor(model => model.PasswordHash)
                                </li>
                                <li class="col-md-4 col-sm-3">
                                    <span class="profile-label"><strong>SecurityStamp: </strong></span>
                                    @Html.DisplayFor(model => model.SecurityStamp)
                                </li>
                                <li class="col-md-3 col-sm-3">
                                    <span class="profile-label"><strong>Created On: </strong></span>
                                    @Html.DisplayFor(model => model.CreatedOn)
                                </li>
                                <li class="col-md-3 col-sm-3">
                                    <span class="profile-label"><strong>Modified On: </strong></span>
                                    @Html.DisplayFor(model => model.ModifiedOn)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div data-toggle="collapse" data-target="#postShortContent" class="panel-heading blog-panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-collapse-down"></i>
                            <strong>User Comments - (@(Model.Comments.Count) available comments)</strong>
                        </div>
                    </div>
                    <div id="postShortContent" class="panel-collapse collapse">
                        <div class="panel-body">
                            @if (Model.Comments.Any())
                            {
                                foreach (var comment in Model.Comments)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-body blog-word-wrap">
                                            <div class="col-md-12">
                                                <h3>
                                                    <a href="@Url.Action("Post", "Blog", new { area = string.Empty, id = comment.BlogPostId })@($"#comment-{comment.Id}")">
                                                        @comment.BlogPost.Title
                                                    </a>
                                                    <a href="@Url.Action("Details", "PostComments", new { area = "Administration", id = comment.Id })" class="btn btn-info btn-sm">
                                                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                                                        <span>Details</span>
                                                    </a>
                                                </h3>
                                                <p>
                                                    <span class="post-details">User:</span>
                                                    @comment.BlogPost.Author.UserName
                                                    <strong>|</strong>
                                                    <span class="post-details">Commented On: </span>
                                                    @comment.CreatedOn
                                                    <strong>|</strong>
                                                    <span class="post-details">Modified On: </span>
                                                    @comment.ModifiedOn
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h4 class="blog-gray-info">No available comments</h4>
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div>
        <a href="@Url.Action("Index", "ApplicationUsers", new { area = "Administration" })" class="btn btn-primary">
            <i class="glyphicon glyphicon-align-justify"></i>
            <span>Application Users</span>
        </a>
        <a href="@Url.Action("Edit", "ApplicationUsers", new { area = "Administration", id = Model.Id })" class="btn btn-warning">
            <i class="glyphicon glyphicon-edit"></i>
            <span>Edit User</span>
        </a>
    </div>


</div>