@model IEnumerable<MenuItemViewModel>

@using BlogSystem.Common
@using BlogSystem.Web.ViewModels.Common

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" role="navigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand" title="@ViewBag.Settings["Title"]">
        <img src="~/images/logo.png" width="125" height="85" alt="Site logo">
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item home">
                @Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, new { @class="nav-link" })
            </li>
            
            @foreach (var page in Model)
            {
                <li class="nav-item">
                    @Html.ActionLink(page.Title, page.Permalink, "Pages",  new { area = string.Empty },new { @class="nav-link" })
                </li>
            }
        </ul>
        
        <ul class="navbar-nav navbar-right">
            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    @Html.ActionLink("Administration", "Index", "Home", new { area = "Administration" }, new { @class = "nav-link" })
                </li>
            }
        </ul>
        
        @Html.Partial("_LoginPartial")
    </div>
</nav>