@model BlogSystem.Web.Areas.Administration.ViewModels.ApplicationUsers.IndexPageViewModel

@{
    ViewBag.Title = "Аll Users";
}

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="@Url.Action("Create", "Users", new { area = "Administration" })" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Create New User</span>
            </a>
        </p>
        
        @if (Model.Users.Any())
        {
            <table class="table table-responsive table-hover">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>UserName</th>
                    <th>Created On</th>
                    <th>Modified On</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>

                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => user.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.ModifiedOn)
                        </td>
                        <td>
                            @if (user.IsAdmin)
                            {
                                <span class="label label-primary">Admin</span>
                            }
                            else
                            {
                                <span class="label label-success">User</span>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Users", new {area = "Administration", id = user.Id})" class="btn btn-info btn-sm center-block">
                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                                Details
                            </a>
                            <a href="@Url.Action("Edit", "Users", new {area = "Administration", id = user.Id})" class="btn btn-warning btn-sm center-block">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="col-md-12">
                <h2>No users available.</h2>
            </div>
        }
    </div>
</div>


@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a href="~/Administration/Users/?page=@Model.PreviousPage">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active">
                        <a href="/Administration/Users/?page=@i">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Administration/Users/?page=@i">@i</a>
                    </li>
                }
            }

            <li>
                <a href="~/Administration/Users/?page=@Model.NextPage">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--End Pagination-->
}