@using BlogSystem.Web.Infrastructure.Helpers.Html

@model BlogSystem.Web.ViewModels.Home.IndexPageViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (Model.Posts.Any())
{
    foreach (var post in Model.Posts)
    {
        <article class="post-container">
            <header class="post-header">
                <h2 class="post-title">
                    <a href="@post.Url" title="@post.Title">
                        @Html.DisplayFor(model => post.Title)
                    </a>
                </h2>
                <ul class="post-meta">
                    <li>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        @Html.DisplayFor(model => post.CreatedOn)
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @Html.DisplayFor(model => post.Author)
                    </li>
                    <li>
                        <a href="@post.Url#comments">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            @Html.DisplayFor(model => post.CommentsCount) comments
                        </a>
                    </li>
                </ul>
            </header>

            <div class="post-content">
                @Html.Raw(Html.Truncate(post.Content))
            </div>

            <div class="post-read-more">
                <a href="@post.Url" class="btn btn-default" title="@post.Title">
                    Read more!
                </a>
            </div>
        </article>
    }
}
else
{
    <article class="post-container">
        <header class="post-header">
            <h2 class="post-title">Sorry, nothing here...</h2>
        </header>
    </article>
}

@if (Model.PagesCount > 0)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active">
                        @Html.ActionLink($"{i}", "Index", new { area = string.Empty, page = i })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink($"{i}", "Index", new { area = string.Empty, page = i })
                    </li>
                }
            }
        </ul>
    </nav>
}

@ViewBag.IP