@model IEnumerable<BlogSystem.Data.Models.Setting>

@{
    ViewBag.Title = "All Settings";
}

<section class="post-container">
    <div class="post-content">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Key)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.Key, area = "Administration" }, new {@class= "btn btn-sm btn-info" })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>