@model BlogSystem.Data.Models.Setting

@{
    ViewBag.Title = "Update Setting";
}

<section class="post-container">
    <div class="post-content">
        <h4>Update Setting: @Model.Key</h4>

        @using (Html.BeginForm("Update", "Settings", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.Key)

                <div class="form-group">
                    @Html.LabelFor(model => model.Value, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Value, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Value, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>