@model BlogSystem.Web.Areas.Administration.ViewModels.Page.IndexPagesViewModel

@{
    ViewBag.Title = "List Pages";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Author
        </th>
        <th>
           Title
        </th>
        <th>
            Permalink
        </th>
        <th>
           CreatedOn
        </th>
        <th>
            ModifiedOn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Pages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permalink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
