@model BlogSystem.Web.Areas.Administration.ViewModels.Home.IndexAdminPageViewModel

@{
    ViewBag.Title = "Administration";
}


<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-tag"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            @Model.PostsCount Posts
                        </div>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Index", "Posts", new { area = "Administration" })" class="clearfix">
                <div class="panel-footer">
                    <span>Manage</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </span>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-comment"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            @Model.CommentsCount Comments
                        </div>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Index", "Comments", new { area = "Administration" })" class="clearfix">
                <div class="panel-footer">
                    <span>Manage</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </span>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="glyphicon glyphicon-file"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            @Model.PagesCount Pages
                        </div>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Index", "Pages", new { area = "Administration" })" class="clearfix">
                <div class="panel-footer">
                    <span>Manage</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>