<footer class="container-fluid" role="contentinfo">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <a href="http://jobhound.eu" target="_blank">
                <img src="~/images/friends-logos/Jason Hound Hound.png" class="img-fluid" width="150" />
            </a>
            <a href="https://www.facebook.com/silentcityofficial/?fref=ts" target="_blank">
                <img src="~/images/friends-logos/Silent City.png" class="img-fluid" width="150" />
            </a>
            <p class="copyright">
                <i class="fa fa-copyright" aria-hidden="true"></i> @DateTime.Now.Year
                <strong>@ViewData["BlogAuthor"]</strong>.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <ul class="social">
                <li>
                    <a href="@ViewData["FacebookProfile"]" title="Facebook" rel="me">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@ViewData["TwitterProfile"]" title="Twitter" rel="me">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@ViewData["LinkedIn"]" title="LinkedIn" rel="me">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@ViewData["GitHubProfile"]" title="GitHub" rel="me">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>