@using BlogSystem.Common

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" role="navigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand" title="@ViewData["SiteTitle"]">
        <img src="~/images/logo.png" alt="Site logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        @{
            Html.RenderAction("Menu", "Nav");
        }

        <ul class="navbar-nav navbar-right">
            @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    @Html.ActionLink("Administration", "Index", "Home", new { area = "Administration" }, new { @class = "nav-link" })
                </li>
            }
        </ul>

        @Html.Partial("_LoginPartial")
    </div>
</nav>

<header role="banner">
    <h1>@ViewData["BlogTitle"]</h1>
    <h2>@ViewData["BlogDescription"]</h2>
</header>