<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days" />

        <meta name="author" content="@ViewData["BlogAuthor"]" />
        <meta name="keywords" content="@ViewData["BlogKeywords"]" />
        <meta name="description" content="@ViewData["BlogTitle"] : @ViewData["BlogDescription"]" />
       
        <title>@ViewBag.Title - @ViewData["BlogTitle"]</title>

        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/tether")
        @Styles.Render("~/Content/fonts")
        @Styles.Render("~/Content/blog")
    </head>
    <body>
		@Html.Partial("_Header")
        
        <section class="container-fluid flash animated" role="main">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    @RenderBody()
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    @{ Html.RenderAction("Index", "Sidebar"); }
                </div>
            </div>
        </section>
        
        @Html.Partial("_Footer")
        
        <script src="~/Scripts/tether.min.js"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryajax")
        @Scripts.Render("~/bundles/bootstrap")

        @Scripts.Render("~/bundles/blog")

        @RenderSection("scripts", false)
    </body>
</html>