<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days" />
        <meta name="author" content="@ViewData["BlogAuthor"]" />
        <meta name="keywords" content="@ViewData["BlogKeywords"]" />
        <meta name="description" content="@ViewData["BlogTitle"] : @ViewData["BlogDescription"]" />
       
        <title>@ViewBag.Title - @ViewData["BlogTitle"]</title>        

        @Styles.Render("~/Content/css")

        <link href="~/Content/vs.css" rel="stylesheet" />
  
		<script>
		    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		    ga('create', 'UA-90702361-1', 'auto');
		    ga('send', 'pageview');
		</script>
		
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KXNVKNT');</script>
		<!-- End Google Tag Manager -->
    </head>
    <body>
		@Html.Partial("_Header")
        
        <section class="container-fluid" role="main">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    @RenderBody()
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    @{ Html.RenderAction("Index", "Sidebar"); }
                </div>
            </div>
        </section>
        
        @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/highlight.pack.js"></script>

        @RenderSection("scripts", false)
    </body>
</html>