@model BlogSystem.Web.ViewModels.Manage.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<section class="entry">
    <header class="e-header">
        <h2>@ViewBag.Title</h2>
    </header>

    <div class="e-content">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Change password</button>
            </div>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}